<footer id="contact">

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h3>Zone d'intervention</h3>

        <div>Metz, Nancy et Alentours</div>
        <div>mettre une carte</div>

      </div>
      <div class="col-sm">
        <img class="logo" alt="logo QJ" src="../../assets/img/logo_site.png"/>

        <ul class="footer-list">
          <li><a href="https://twitter.com/qj-web" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/qj-web/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="https://www.linkedin.com/company/qj-web/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-sm">
        <app-contact></app-contact>
      </div>
    </div>
  </div>
  Copyright © {{ today | date:'y' }} QJ Web | <a routerLink="/mentions-legales" routerLinkActive="active" classe="mentionsLegales" >Mentions Légales</a>
</footer>
