<header>
  <div class="header row">
    <div id="logo" class="col-lg-3 col-sm-12">
      <a href="/" class="row">
        <div>
          <img alt="logo QJ" src="../assets/img/logo_site.png"/>
        </div>
        <div class="logo-info">
          <div style="font-size:23px;">
            Agence WEB
          </div>
          <div  style="font-size:20px;">
            Site sur-mesure
          </div>
          <div  style="font-size:17px;">
            contact@qj-web.fr
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-9">
      <app-nav-bar></app-nav-bar>
    </div>
  </div>
</header>

<body>
<div>
  <router-outlet #routerOutlet="outlet" (activate)="onActivate($event)"></router-outlet>
</div>
</body>

<app-footer></app-footer>
