/* LOGO */
#logo {
  min-width: 300px;
}

#logo a {
  text-decoration: none;
  margin: 0;
}

#logo a div{
  margin: 0;
}

#logo a div img {
  width: 100px;
  padding-top: 5px;
}

#logo a div div {
  line-height: 1.15;
}

.logo-info {
  color:#afaeae;
}
