<section>
  <div class="div-solution container">
    <h1 class="title">Liste des solutions</h1>
    <div class="container">
      <div class="row">

        <div class="col-sm div-encart">
          <h3>Site vitrine</h3>
          <div>
            Présenter l'activité de votre entreprise sur une page web adaptée.
            Permettant d'informer vos visiteurs des horaires d'ouverture, des tarifs, des coordonnées, etc.
          </div>
        </div>

        <div class="col-sm div-encart">
          <h3>Site e-commerce</h3>
          <div>
            Vendre vos produits en ligne vous offre l'opportunité d'augmenter votre visibilité et votre audience.
            <br>
            Vous toucherez donc davantage de client. C'est un gain de temps considérable.
          </div>
        </div>

        <div class="col-sm div-encart">
          <h3>Etude et conseil</h3>
          <div>
            Vous souhaitez monter un projet ?
            Vous souhaitez être épaulés ?
            <br>
            Nous pouvons en discuter ensemble.
          </div>
        </div>

        <div class="col-sm div-encart">
          <h3>Formation</h3>
          <div>
            Une formation sur-mesure dédiée.
            Vous souhaitez être formés sur un outil ou sur une technologie ?
            <br>
            Nous pouvons en discuter ensemble.
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
